<div class="wrapper">
	<div class="container" style="margin-top: 140px;">
		<h1 class="sessionsTitle">Log into your account</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, placeholder: 'Email', autofocus: true %>
      </div>

      <div class="field">
        <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", :style => 'background-color: white; color:#19a8bf;' %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
