<div class="offersSidebar">
  <ul>
    <li class="ulLi">Global Offers Completed: <%=@total_completed_offers%></li>
    <li class="ulLi">Global Credits Rewarded: <%=@total_credits_rewarded%></li>
    <li class="ulLi">Global Credits Redeemed: <%=@total_credits_redeemed%></li>
    <li class="ulLi">Total Users: <%=@total_users%></li>
    <li class="ulLi">Current number of offers: <%=@total_offers%></li>
  </ul>
</div>
<div class="offersContainer">
  <div class="offers">
    <% @offers.each do |offer| %>
      <div class="offerItem">
        <h3 style="text-align:center;"><%=offer.title%></h3>
        <p style="text-align:center;"><%=offer.description%></p>
        <a href="<%=offer.url%>"><img class="offerImage" style="display:block;margin:auto;height:110px;width:180px;" src=" <%=offer.image_url%> "/></a>
        <a class="offerUrl" href="<%=offer.url%>"><%=offer.url%></a>
        <p style="text-align:center;"><b><%=offer.reward_amount%> credits rewarded</b></p>
        <button class="completeOfferButton btn btn-primary">Complete Offer</button>
      </div>
    <% end %>
  </div>
  <%= paginate @offers %>
</div>
