
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CredHive</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'offers' %>"><a href="<%= offers_path %>">Offers</a></li>
        <li ><a href="<%= redeems_path %>">Redeem</a></li>
      </ul>
      <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <span style="float: left; margin-top: 15px;color: white;margin-right:15px;">Credit Balance: <%= get_user_credit_balance %></span>
        <li class="dropdown">
          <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: 'dropdown-toggle') %>
        </li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
