<div class="offersSidebar">
  <ul>
    <li class="ulLi">Global Offers Completed: <%=@total_completed_offers%></li>
    <li class="ulLi">Global Credits Rewarded: <%=@total_credits_rewarded%></li>
    <li class="ulLi">Global Credits Redeemed: <%=@total_credits_redeemed%></li>
    <li class="ulLi">Total Users: <%=@total_users%></li>
    <li class="ulLi">Current number of offers: <%=@total_offers%></li>
  </ul>
</div>
